@model IEnumerable<WebMyPham.Models.DonHang>

@{
    ViewBag.Title = "Quản trị đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAD.cshtml";
}

<div id="main">
    <ol class="breadcrumb">
        <li><a href="/Admin/HomeAd/Index"><i class="fa fa-home"></i> Trang quản trị</a></li>
        <li class="active"><a href="/Admin/DonHang/Index">Đơn Hàng</a></li>
    </ol>
    <div class="col-xs-12">
        <form id="admin-form" method="post" action="" role="form">
            <div class="col-xs-12">
                <div class="form-group">
                    <a href="/Admin/DonHang/Create" class="btn btn-submit"><small><i class="fa fa-plus"></i></small> Thêm mới</a>
                    <div class="btn-group pull-right hidden-xs" id="div-search">
                        <input id="search" name="search" type="text" value="" class="form-control" placeholder="Tìm kiếm">
                        <span class="fa fa-search"></span>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="hidden-xs">Mã</th>
                            <th>Tên Khách Hàng</th>
                            <th class="hidden-xs" style="text-align: center">Điện Thoại</th>
                            <th class="hidden-sm hidden-xs" style="text-align: center">Email</th>
                            <th>Sửa</th>
                            <th>Trạng Thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dh in Model)
                        {
                            <tr>
                                <td class="hidden-xs">@dh.iddonhang</td>
                                <td>
                                    <a href="/Admin/DonHang/Details/@dh.iddonhang">@dh.KhachHang.tenKH</a>
                                </td>
                                <td class="hidden-xs" style="text-align: center">@dh.KhachHang.sdt</td>
                                <td class="hidden-sm hidden-xs" style="text-align: center">@dh.KhachHang.diachi</td>
                                <td>
                                    <a href="/Admin/DonHang/Details/@dh.iddonhang"><i class="fa fa-info" data-toggle="tooltip" data-placement="top" title="Chi Tiết Đơn Hàng"></i></a>
                                    <a href="/Admin/DonHang/Edit/@dh.iddonhang"><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Sửa Đơn Hàng"></i></a>
                                    <a href="/Admin/DonHang/Delete/@dh.iddonhang"><i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Xóa Đơn Hàng"></i></a>
                                </td>
                                <td>@dh.trangthai</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
