@model IEnumerable<WebMyPham.Models.SanPham>
@{
    ViewBag.Title = "Gio hang ";
}

<h2>Giỏ hàng</h2>
<table class="table table-hover">
    <tr>
        <th>Ma sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Giá bán</th>
        <th>Số lượng</th>
    
        <th></th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.idsp</td>
            <td>@p.tensp</td>
            <td>@Html.FormatValue(p.giaban, "{0:c}")</td>
            <td>@Html.FormatValue(p.soluong, "{0:p}")</td>
            <td><input class="quantity" value="@p.soluong" data-id="@p.idsp" size="3"></td>
            <td id="@p.idsp">@Html.FormatValue(p.giaban * p.soluong * (1 - p.giamgia), "{0:c}")</td>
            <td>
                <img class="remove-from-cart" data-id="@p.idsp" src="~/Images/001.jpg" />
            </td>
        </tr>
    }
    <tr>
        <th colspan="5" style="text-align:right">Total:</th>
        <th>@GioHang.Cart.Total</th>
        <th></th>
    </tr>
</table>
<form action="/Cart/Clear" method="post">
    <button class="btn btn-default">
        <span class="glyphicon glyphicon-th-list"></span>
        Clear Cart
    </button>
    <a href="/Product/List" class="btn btn-default">
        <span class="glyphicon glyphicon-th-list"></span>
        Shopping More
    </a>
    <a href="/Order/Checkout" class="btn btn-default">
        <span class="glyphicon glyphicon-th-list"></span>
        Checkout
    </a>
</form>

@section scripts{
    <script>
        $(function () {
            // Xóa khỏi giỏ
            $(".remove-from-cart").click(function () {
                pid = $(this).attr("data-id");
                tr = $(this).parents("tr");// tim <tr> chua <img> bi click
                $.ajax({
                    url: "/Cart/Remove",
                    data: { id: pid },
                    success: function (response) {
                        $("#nn-cart-count").html(response.Count);
                        $("#nn-cart-total").html(response.Total);
                        tr.hide(500);
                    }
                });
            });
            // Cập nhật số lượng
            $(".quantity").keyup(function () {
                pid = $(this).attr("data-id");
                qty = $(this).val();
                $.ajax({
                    url: "/Cart/Update",
                    data: { id: pid, quantity: qty },
                    success: function (response) {
                        $("#nn-cart-count").html(response.Count);
                        $("#nn-cart-total").html(response.Total);
                        $("#" + pid).html("$" + response.Amount);
                    }
                });
            });
        });
    </script>
}